* {
  box-sizing:border-box;
}
body {
  background-color:#00EEEE;
}
#about-button, #about-div {
  display:none;
}
#about-div {
  position:absolute;
  z-index:2;
  border:15px solid #00EEEE;
  background-color:#008B8B;
  height:100vh;
  width:100vw;
  top:0;
  flex-flow:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}
#about-div h1 {
  font-size:10rem;
  text-decoration:underline;
  padding:5rem;
}
#about-div p {
  font-size:3rem;
  padding:2rem;
}
#google-map {
  width:100%;
  height:100%;
}
#background-image {
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  background-image: url('images/world.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height:80vh;
}
#main-title {
  font-family:'Oswald', sans-serif;
  font-size:8rem;
}
#main-container-map {
  margin-top:.6rem;
}
#loading {
  display:none;
  text-align: center;
}