* {
  box-sizing:border-box;
}
body {
  background-color:#00EEEE;
}
#landing-credits, #prompt-user-search, #landing-title, #about-button, #search-button {
  font-family: 'Coiny', cursive;
  color:white;
}
.landing-page-container {
  background-color:#00EEEE;
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
  flex-flow:column;
}
#landing-title:hover, #landing-credits:hover {
  cursor:pointer;
}
#landing-title {
  font-size:9rem;
}
#landing-credits, #prompt-user-search {
  font-size:7.5rem;
}
#news-img-env {
  height:15%;
  width:15%;
}
#white-star1, #white-star2, #white-star3 {
  width:10%;
  height:10%;
}
#white-star1 {
  top:20%;
  left:18%;
}
#white-star2 {
  top:70%;
  left:40%;
}
#white-star3 {
  top:35%;
  left:70%;
}

#google-map {
  height:75%;
  width:75%;
  border:5px solid white;
  margin:2rem;
}

#about-button, #search-button {
  margin-top:1rem;
  background-color:#33A1DE	;
  width:15%;
  height:4%;
  border:none;
  transition: all 200ms ease-in-out 0s;
}
#about-button:hover, #search-button:hover{
  color:black;
  background-color:#00FFFF;
  box-shadow: 0 0 4px 4px #33A1DE;
  border:none;
}
#prompt-user-search, #search-term, #search-button, #white-star1, #white-star2, #white-star3 {
  position:absolute;
}
#prompt-user-search {
  top:2rem;
}
#search-term {
  top:13rem;
  border:3px solid white;
}
#search-button {
  top:17rem;
}
