* {
  box-sizing:border-box;
}
div {
  
}

.landing-page-container {
  background-color:#00EEEE;
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
  flex-flow:column;
}
#landing-title:hover, #landing-credits:hover {
  cursor:pointer;
}
#landing-title {
  color:white;
  font-size:9rem;
  font-family: 'Coiny', cursive;
}
#landing-credits {
  color:white;
  font-size:7.5rem;
  font-family: 'Coiny', cursive;
}

#news-img-env {
  height:15%;
  width:15%;
}

#white-star1, #white-star2, #white-star3 {
  width:10%;
  height:10%;
  position:absolute;
}
#white-star1 {
  top:20%;
  left:18%;
}
#white-star2 {
  top:70%;
  left:40%;
}
#white-star3 {
  top:35%;
  left:70%;
}
